.back{
	background-image:url("doctors.jpg");
	background-size:cover;
	background-attachment:fixed;
}
.text{
	font-family:consolas;
	color:black;
}
.btn{
	font-family:consolas;
}


	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	




